<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
       <%- include('./templates/navbar.ejs') %> 
        <h1>Edit <%= oneMale.name %>'s Character Info</h1>
    </header>   
    <form action ="/male/<%=oneMale._id%>?_method=PUT" method = "POST" class = "form">
        <div class = "box">
            <label for = "name">Name: </label>
            <input type = "text" id = "maleName" name = "name" value = "<%= oneMale.name %>"/>
        </div>
        <br>
        <br>
        <div class = "box">
            <label for = "show">Show: </label>
            <input type = "text" id= "showName" name = "show" value = "<%= oneMale.show%>"/>
        </div>
        <br>
        <br>
        <div class = "box">
            <label for = "age">Age: </label>
            <input type = "text" id = "characterAge" name = "age" value = "<%= oneMale.age%>"/>
        </div>
        <br>
        <br>
        <div class = "box">
            <label for = "favorite">Favorite: </label>
            <input type = "checkbox" id = "favoriteRank" name = "favorite" <%= oneMale.favorite ? "checked": "" %>/>
        </div>
        <br>
        <br>
        <div class = "box">
            <label for = "image"> Change the Picture: </label>
            <input type = "text" id = "pic" name = "image" value = "<%= oneMale.image%>"/>
        </div>
        <br>
        <br>
        <div class = "button-in-box">
            <input class = "button" type = "submit" value = "Submit These Changes"/>
        </div>
    </form>
</body>
</html>