<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/male">Home Page</a></li>
                <li><a href="/male/:maleId">Show One</a></li>
                <li><a href="/male/new">Add One</a></li>
            </ul>
        </nav>
    </header>   
    <h1>Below you can edit <%= oneMale.name %>'s character info.</h1>
    <form action ="/male/<%=oneMale._id%>?_method=PUT" method = "POST"></form>
        <label for = "name">Name: </label>
        <input type = "text" id = "maleName" name = "name" value = "<%= oneMale.name %>"/>
        <br>
        <br>
        <label for = "show">Show: </label>
        <input type = "text" id= "showName" name = "show" value = "<%= oneMale.show%>"/>
        <br>
        <br>
        <label for = "age">Age: </label>
        <input type = "text" id = "characterAge" name = "age" value = "<%= oneMale.age%>"/>
        <br>
        <br>
        <label for = "favorite">Favorite: </label>
        <input type = "checkbox" id = "favoriteRank" name = "favorite" <%= oneMale.favorite ? "checked": "" %>/>
        <br>
        <br>
        <label for = "image"> Change the Picture: </label>
        <input type = "text" id = "pic" name = "image" value = "<%= oneMale.image%>"/>
        <br>
        <br>
        <input type = "submit" value = "Submit These Changes"
    </form>
</body>
</html>